
.vs/

GameAI/obj/
GameAI/bin/
GameAI/.idea/*

GameAI.Pathfinding/obj/
GameAI.Pathfinding/bin/
GameAI.Pathfinding/.idea/*

GameAI.Pathfinding.Tests/obj/
GameAI.Pathfinding.Tests/bin/
GameAI.Pathfinding.Tests/.idea/*

packages
/.idea/*

MonogameSteeringCS/obj/
MonogameSteeringCS/bin/

